body,
h1,
p,
button {
  margin: 0px;
  padding: 0px;
}
body {
  background: #f6ffea;
  font-family: "Quicksand", sans-serif;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
h1 {
  margin: 100px 120px 0px 120px;
  font-size: 2.25rem;
  font-weight: 400;
  color: #1f3505;
}
h1 span {
  color: #486d1b;
}
.opcoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 20px 0px;
  gap: 20px;
  margin: 40px 120px;
}
.btn {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #f3faea;
  background: #5f862f;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition:
    background 0.3s ease,
    transform 0.2s ease;
}
.btn:hover {
  color: #486d1b;
  background: linear-gradient(
    to right,
    rgba(176, 207, 136, 0.6),
    rgba(102, 158, 30, 0.6)
  );
}
.resultado-bg {
  background: linear-gradient(
    to right,
    rgba(176, 207, 136, 0.6),
    rgba(102, 158, 30, 0.6)
  );
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.resultado {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  font-size: 2.25rem;
  padding: 60px 0px;
  background: url("../star.svg") no-repeat center right 60px;
}
.resultado-texto {
  margin: 0px 120px;
  color: #1f3505;
  max-width: 40ch;
  opacity: 1;
  transition: opacity 0.4s ease;
}
@media (max-width: 800px) {
  h1 {
    margin: 40px 60px;
    font-size: 2rem;
  }
  .opcoes {
    justify-content: start;
    margin: 0 60px 40px 60px;
  }
  .resultado-texto {
    margin: 0px 60px;
    font-size: 2rem;
  }
  .resultado {
    padding: 40px 0px;
    background: linear-gradient(
      to right,
      rgba(176, 207, 136, 0.6),
      rgba(102, 158, 30, 0.6)
    );
  }
}
@media (max-width: 600px) {
  h1 {
    margin: 32px;
  }
  .resultado-texto {
    margin: 0px 32px;
  }
  .opcoes {
    margin: 0 32px 32px 32px;
    gap: 8px;
  }
  .btn {
    font-size: 0.875rem;
    padding: 8px 16px;
  }
}
